* {
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(189, 189, 189);
}
.control-panel {
  width: 100%;
  min-height: 300px;
  background-color: rgb(255, 197, 176);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: 0;
  position: fixed;
  padding-top: 20px;
  padding-bottom: 50px;
}
#operating-screen {
  width: 375px;
  height: auto;
  margin: 0 auto;
  margin-top: 150px;
  border: none;
}
#backgroundImg {
  margin-top: 0px;
  max-width: 375px;
  height: auto;
  border: none;
  background-color: bisque;
}
