* {
  margin: 0;
  padding: 0;
}
header {
  padding-right: 5%;
  padding-left: 5%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  top: 0;
  width: 90%;
  height: 50px;
  background-color: rgb(189, 189, 189);
  z-index: 1200;
}
header > p {
  line-height: 50px;
}
.character {
  top: 200px;
  left: 50px;
  height: 70px;
  cursor: move;
  position: absolute;
  z-index: 1000;
}
.active {
  z-index: 1001;
  border: #000000 solid 1px;
}
.control-panel {
  z-index: 1200;
  width: 100%;
  min-height: 30vh;
  background-color: rgb(255, 197, 176);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: 0;
  position: fixed;
  padding-top: 20px;
  padding-bottom: 30px;
  transition: 300ms;
}
#operating-screen {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 80px;
  border: none;
}
#backgroundImg {
  margin-top: 0px;
  max-width: 375px;
  height: auto;
  border: none;
}
.fontframe-flex {
  display: flex;
  width: 100%;
  margin: 50px auto;
  justify-content: center;
}
.fontframe-flex > p {
  line-height: 90px;
  width: 120px;
  text-align: center;
  font-size: 45px;
}
.fontframe-flex > button {
  font-size: 60px;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  border: 2px solid #555555;
}
.iconButton {
  width: 120px;
  height: 120px;
  margin-right: 10px;
  margin-left: 10px;
  /* background: none;
  border: none; */
  border-radius: 0;
  border: none;
  background-color: rgb(255, 197, 176);
}
.btnCanvas {
  width: 90px;
  height: 90px;
}
.btnImg {
  width: 90px;
  height: auto;
  margin-bottom: 10px;
}
.btnText {
  width: 120px;
  height: auto;
  margin-top: -20px;
  font-size: large;
  color: rgb(75, 75, 75);
  font-family: 'Ubuntu', sans-serif;
}
#start-panel {
  width: 100%;
  margin: 70px auto 0 auto;
  text-align: center;
  height: auto;
}
.panel-head {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0 20px;
  color: #555555;
}
.headImg {
  width: auto;
  height: 30px;
}
.headBtn {
  border: none;
  background: none;
}
.headInput {
  position: relative;
  width: 200px;
  margin: auto;
}
.headInput input[type='text'] {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  transition: 0.3s;
  text-align: center;
  letter-spacing: 1px;
  color: #555555;
  background-color: #eeeeee;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  font-size: large;
}
.ef input[type='text']:focus {
  border: 1px solid #da3c41;
  outline: none;
  box-shadow: 0 0 5px 1px rgba(218, 60, 65, 0.5);
}
.x-slider-box {
  padding: 10px 30px;
  width: auto;
  margin: 50px 10px 0 10px;
  height: auto;
  overflow-x: auto;
  white-space: nowrap;
}
#edit-background-panel {
  font-size: large;
  margin-top: -5px;
  color: #555555;
}
#rs-bullet-fontsize {
  padding-top: 50px;
}
#rs-bullet-thickness {
  padding-top: 50px;
}
.now-color-palette {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 60px 60px;
  padding-left: 10px;
  padding-right: 10px;
}
#nowBackgroundColorBtn {
  margin: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid #777777;
  grid-row: 1/2;
  grid-column: 1;
}
#nowFontcolorBtn {
  margin: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid #777777;
  background-color: navy;
  grid-row: 1/2;
  grid-column: 1;
}
.palette:focus {
  outline: none;
  box-shadow: 0 0 0 6px #cbd6ee;
}
.colorBtn {
  margin: 2px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #777777;
}
.x-slider-now-palette {
  grid-column: 2;
  grid-row: 2;
  padding: 5px 10px;
  width: 200px;
  /* display: flex; */
  height: auto;
  overflow-x: scroll;
  white-space: nowrap;
}
.color-palette {
  margin: 10px 20px;
  text-align: start;
}
.x-slider-palette {
  padding-top: 5px;
  padding-bottom: 5px;
  width: auto;
  margin: 0 auto;
  /* display: flex; */
  height: auto;
  overflow-x: scroll;
  white-space: nowrap;
}
.additional {
  width: 100%;
  height: auto;
}
.additional-btn {
  display: flex;
  height: 30px;
  /* margin: 0 20px 0 auto; */
  color: #555555;
  font-size: large;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 10px;
  margin: 0 20px 0 auto;
  background-color: rgb(255, 197, 176);
}
.additional-close-btn {
  display: flex;
  height: 50px;
  font-weight: bold;
  margin: 0 auto 0 20px;
  -webkit-text-stroke: 1px #fff;
  color: #555555;
  font-size: large;
  border-radius: 25px;
  padding: 10px 10px 10px 20px;
  margin: 0 auto 0 20px;
}
.additional-btn > p {
  line-height: 30px;
}
.additional-color-palette {
  width: 100%;
  min-height: 100px;
  /* flex-direction: column; */
}
/* #additional-background-panel {
  display: none;
} */
.edit-angle-container {
  margin-top: 20px;
  display: block;
  position: absolute !important;
  width: 100%;
  height: auto;
  text-align: left;
}

#circle-range {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 4px solid grey;
  border-radius: 100%;
  /* float: left; */
  margin-left: 100px;
  margin-bottom: 80px;
}

#circle-slider {
  position: relative;
  height: 24px;
  width: 24px;
  background: white;
  border: 1px solid grey;
  /* left: 75px; */
  margin-left: -12px;
  /* top: -14px; */
  border-radius: 100%;
  cursor: pointer;
}

#circle-slider-range {
  -moz-appearance: none;
  border: 0px solid #e6e6e6;
  background-color: rgb(255, 197, 176);
  border-radius: 4px;
  color: #818181;
  display: block;
  font-size: 1em;
  height: 30px;
  padding: 0 6px;
  transition: border 0s ease 0s, width 0.4s ease-in-out 0s;
  text-align: left;
  font-size: large;
  width: 45px;
  position: absolute;
  bottom: 155px;
  left: 175px;
  margin-left: -22px;
}

.range-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 30vh; */
}
.rs-range {
  margin-top: 29px;
  width: 200px;
  -webkit-appearance: none;
}
.rs-range:focus {
  outline: none;
}
.rs-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: none;
  border-radius: 3px;
  border: 0px solid #010101;
}
#rs-range-line-font-red {
  background: red;
}
#rs-range-line-font-green {
  background: green;
}
#rs-range-line-font-blue {
  background: blue;
}
#rs-range-line-red {
  background: red;
}
#rs-range-line-green {
  background: green;
}
#rs-range-line-blue {
  background: blue;
}
#rs-range-line-fontsize {
  background: gray;
}
#rs-range-line-thickness {
  background: #aaaaaa;
}
#rs-bullet-fontsize {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
#rs-bullet-thickness {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.rs-range::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #777777;
  border-radius: 20px;
  border: 0px solid #010101;
}

.rs-range::-webkit-slider-thumb {
  box-shadow: none;
  border: 0px solid #777777;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 42px;
  width: 22px;
  border-radius: 22px;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -20px;
}
.rs-range::-moz-range-thumb {
  box-shadow: none;
  border: 0px solid #777777;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 42px;
  width: 22px;
  border-radius: 22px;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -20px;
}
.rs-range::-moz-focus-outer {
  border: 0;
}
.rs-label {
  font-size: large;
  margin-right: 10px;
  margin-top: 27px;
  width: 35px;
}
.rangeBtn {
  width: 30px;
  height: 40px;
  border: 1px solid #777777;
  border-radius: 5px;
  margin: 27px 0px auto 10px;
  font-size: 25px;
}
